@charset "UTF-8";

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

.contents{
    width: 100%;
    height: 60%;
    float: left;
    background-color: #252525;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    border: none;
    resize: vertical;
    color: #aaa;
    font-size: 16px;
    line-height: 1.6em;
    font-weight: 300;
    border-bottom: 1px solid #525252;
}

.result{
    display: none;
}

.final{
    width: 30%;
    height: 40%;
    float: right;
    background-color: #252525;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    border: none;
    resize: vertical;
    color: #aaa;
    font-size: 10px;
    font-weight: 300;
}

.menu{
    width: 70%;
    height: 40%;
    float: left;
    background-color: #252525;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    border-right: 1px solid #525252;
    /* overflow: scroll; */
    font-size: 12px;
}

.menu span{
    color: #aaa;
}

.menu button {
    width: 48.8%;
    height: 40px;
    margin: 0 0 20px 0;
    padding: 0px;
    border-radius: 5px;
    background-color: #454545;
    color: #aaa;
    border: none;
    font-size: 12px;
}
.menu button:first-of-type {
    margin-right: 5px;
}

.menu button:hover {
    background-color: #656565;
}

.menu button:active {
    background-color: #151515;
}

.menu textarea {
    background-color: #353535;
    color: #aaa;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    height: 20px;
    width: 98.5%;
}

.menu textarea#txt_title,
.menu textarea#txt_count {
    border: 1px solid #777;
}
.menu textarea#txt_year,
.menu textarea#txt_seme,
.menu textarea#txt_grade,
.menu textarea#txt_snum,
.menu textarea#txt_enum,
.menu textarea#txt_count {
    width: 32%;
}

.menu textarea#txt_object,
.menu textarea#txt_kind,
.menu textarea#txt_prof,
.menu textarea#txt_range {
    width: 48.7%;
}

.menu textarea {
    margin-bottom: 5px;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 10px;
    height: 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb {
    width: 3px;
    border-radius: 10px;
    background-color: #525252;
    border: 1px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
}
::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}
::-webkit-scrollbar-corner {
    background-color: rgba(0, 0, 0, 0);
    border: 1px none;
}
::-webkit-resizer {
    background-color: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-track:hover {
    cursor: pointer;
}

textarea:focus,
.menu button{
    outline: none;
}
